<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- view.js를 이용해 봄, cdn을 포함시킴 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>


    <script src="https://unpkg.com/vue-router@3.5.3/dist/vue-router.js"></script>
    <!-- axios를 위한 CDN 방식 -->
    <!-- 제이쿼리랑 똑같음 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>

   <div id="app"> 
        <div v-bind:id="myID">소리없는 아우성</div>

        <!-- v-if flag가 true면 그대로 나옴, flag가 false이면 해당 태그가 완전히 날라감.-->
        <!-- v-if jquery 리무브랑 비슷함. -->

        <!-- 민약 v-if의 값이 false이면 DOM에서 제거 -->
        <a v-if="flag" href="http://www.naver.com">네이버로 가기</a>

        <br><br>
        <!-- 만약 v-show 값의 false 이면, 화면에서 안보이게 처리. DOM에는 존재함 -->
        <a v-show="flag" href="http://www.daum.com">카카오로 가기</a>
        <br><br>
        <!-- 입력상자에 mytxt입력될때  -->
        <input type="text" v-model="myTxt">
        <button v-on:click="myFunc">입력상자안에 내용을 알아보아요.</button>
        <br><br>
        <ul>
            <!-- li 반복해서 찍어 nams을 반복할꺼고 해당 데이터를 name에 집어넣어라 -->
            <!-- 따라서 상위컴포넌트안에 data가 있어야 함. -->
            <li v-for="name in names">{{name}}</li>
        </ul>
   </div>
    
    <script>
        new Vue({
            data :{
                flag: false,
                myID:'myDIV',
                myTxt: '',
                names: ['홍길동','신사임당','강감찬']
            },
            methods:{
                myFunc: function(){

                    alert(this.myTxt)
                }
            },
            // 데이터 변경(myTxt) 을 감시
            watch:{
                // myTxt : function(){
                //     console.log(this.myTxt+'로 변경되었어요.');
                // }
                myTxt : function(data){
                    console.log(data,'로 변경되었어요.');
                }
            },

        }).$mount('#app');
    </script>
    
</body>
</html>